* {

    margin: 0;
    /*Reseta o margin de todos os elementos*/
    padding: 0;
    /*Reseta o padding de todos os elementos*/
    box-sizing: border-box;
    /*Define o box-sizing para border-box, o que significa que o padding e a borda serão incluídos na largura e altura total do elemento*/
}

/* Estilos globais, trecho para padronizar as cores sem precisar digitar manualmente, apenas chamar a cor salva na varialvel.*/
:root {
    --primary-color: #FF4111;
    --secondary-color: #2C3E50;
    --accent-color: #3498DB;
    --text-color: #2C3E50;
    --light-gray: #F8F9FA;
    --border-color: #E9ECEF;
    --white-color: #FFFFFF;
    --hover-btn: rgba(255, 255, 255, 0.1);


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Define a fonte padrão do corpo como Arial, com uma alternativa sans-serif*/
    background-color: var(--light-gray);
    /*Define a cor de fundo do corpo usando a variável light-gray*/
    color: var(--text-color);
    /*Define a cor do texto usando a variável text-color*/
    line-height: 1.6;
    /*Define o espaçamento entre linhas para melhorar a legibilidade*/

}

header {
    background-color: var(--white-color);
    /*Define a cor de fundo do cabeçalho usando a variável primary-color*/
    padding: 16px 32px;
    /*Adiciona um preenchimento de 16px na parte superior e inferior, e 32px nas laterais*/
    display: flex;
    /*Usa flexbox para organizar os elementos dentro do cabeçalho*/
    align-items: center;
    /*Alinha os itens do cabeçalho verticalmente ao centro*/
    justify-content: space-around;
    /*Distribui os itens do cabeçalho com espaço igual entre eles*/
}

.logo {
    display: flex;
    /*Usa flexbox para organizar os elementos dentro do logo*/
    align-items: center;
    /*Alinha os itens do logo verticalmente ao centro*/
    gap: 16px;
    /*Adiciona um espaço de 16px entre os itens do logo*/
}

h1 {
    font-size: 32px;
    /*Define o tamanho da fonte do título como 32px*/
    color: var(--primary-color);
    /*Define a cor do texto do título usando a variável primary-color*/
    font-weight: bold;
    /*Define o peso da fonte do título como negrito*/
}

.fa-bolt {
    color: var(--primary-color);
    /*Define a cor do ícone de raio usando a variável primary-color*/
    font-size: 36px;
    /*Define o tamanho do ícone de raio como 36px*/
}

.container-busca {
    width: 100%;
    /*Define a largura do contêiner de busca como 100% do elemento pai*/
    ;
    max-width: 500px;
    /*Define a largura máxima do contêiner de busca como 500px*/
    margin: 0 32px;
    display: flex;
    /*Usa flexbox para organizar os elementos dentro do contêiner de busca*/
    align-items: center;
    /*Alinha os itens do contêiner de busca verticalmente ao centro*/
    padding: 8px 16px;
    background-color: var(--light-gray);
    border-radius: 24px;
    /*Adiciona um raio de borda de 24px para arredondar os cantos do contêiner de busca*/
}

.container-busca input {
    width: 100%;
    /*Define a largura do campo de entrada como 100% do elemento pai*/
    border: none;
    /*Remove a borda do campo de entrada*/
    outline: none;
    /*Remove o contorno do campo de entrada*/
    background-color: var(--light-gray);
    /*Define a cor de fundo do campo de entrada como transparente*/
    padding: 8px;
    /*Adiciona um preenchimento de 8px ao campo de entrada*/
    font-size: 16px;
    /*Define o tamanho da fonte do campo de entrada como 16px*/
}

.fa-magnifying-glass {
    color: var(--primary-color);
    /*Define a cor do ícone de lupa usando a variável primary-color*/
}

.container-categorias {
    display: flex;
    /*Usa flexbox para organizar os elementos dentro do contêiner de categorias*/
    justify-content: center;
    /*Centraliza os itens do contêiner de categorias horizontalmente*/
    background-color: var(--secondary-color);
    /*Define a cor de fundo do contêiner de categorias usando a variável secondary-color*/

}

.container-categorias nav {
    display: flex;
    /*Usa flexbox para organizar os botões dentro do contêiner de categorias*/
    justify-content: center;
    /*Centraliza os botões do contêiner de categorias horizontalmente*/
    align-items: center;
    /*Alinha os botões do contêiner de categorias verticalmente ao centro*/
    gap: 16px;
    /*Adiciona um espaço de 16px entre os botões do contêiner de categorias*/
    width: 100%;
    /*Define a largura do contêiner de categorias como 100% do elemento pai*/
    max-width: 1200px;
    /*Define a largura máxima do contêiner de categorias como 1200px*/
    padding: 8px 32px;
    /*Adiciona um preenchimento de 8px na parte superior e inferior, e 32px nas laterais*/

}

.botao-categorias {
    display: flex;
    /*Usa flexbox para organizar os elementos dentro do botão de categorias*/
    gap: 8px;
    /*Adiciona um espaço de 8px entre os elementos dentro do botão de categorias*/
    align-items: center;
    /*Alinha os elementos dentro do botão de categorias verticalmente ao centro*/
    border: none;
    /*Remove a borda do botão de categorias*/
    border-radius: 24px;
    /*Adiciona um raio de borda de 24px para arredondar os cantos do botão de categorias*/
    color: var(--white-color);
    /*Define a cor do texto do botão de categorias usando a variável white-color*/
    background: none;
    /*Define o fundo do botão de categorias como transparente*/
    padding: 12px 24px;
    /*Adiciona um preenchimento de 12px na parte superior e inferior, e 24px nas laterais*/
    cursor: pointer;
    /*Define o cursor como pointer ao passar o mouse sobre o botão de categorias*/
}

.botao-categorias:hover {
    background-color: var(--hover-btn);
    /*Adiciona um fundo ao botão de categorias ao passar o mouse sobre ele*/
}

.botao-categorias.ativo {
    background-color: var(--primary-color);
    /*Define o fundo do botão de categorias ativo usando a variável primary-color*/

}

.secao-hero {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: var(--white-color);
    /*Define a cor do texto da seção hero usando a variável white-color*/
    text-align: center;
    /*Centraliza o texto dentro da seção hero*/
    padding: 48px 32px;
    /*Adiciona um preenchimento de 48px na parte superior e inferior, e 32px nas laterais*/
}

footer{
    background-color: var(--secondary-color);
    /*Define a cor de fundo do rodapé usando a variável secondary-color*/
    color: var(--white-color);
    /*Define a cor do texto do rodapé usando a variável white-color*/
    text-align: center;
    /*Centraliza o texto dentro do rodapé*/
    padding: 32px;
    /*Adiciona um preenchimento de 16px na parte superior e inferior do rodapé*/

}

.produtos {
    width: 100%;
    /*Define a largura da seção de produtos como 100% do elemento pai*/
    max-width: 1200px;
    /*Define a largura máxima da seção de produtos como 1200px*/
    padding: 32px;
    /*Adiciona um preenchimento de 32px ao redor da seção de produtos*/
    margin: 0 auto;
    /*Centraliza a seção de produtos horizontalmente*/




}


.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /*Define um layout de grade responsivo com colunas que se ajustam automaticamente*/
    gap: 20px; /*Adiciona um espaço de 20px entre os itens da grade*/

}

.cartao-produto {
    background-color: var(--white-color); /*Define a cor de fundo do cartão de produto usando a variável white-color*/
    border-radius: 16px; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; /*Adiciona um raio de borda de 16px e uma sombra ao redor do cartão de produto*/
    cursor: pointer;    /*Define o cursor como pointer ao passar o mouse sobre o cartão de produto*/ 
    transition: 0.5s; /*Adiciona uma transição suave de 0.3 segundos para as propriedades do cartão de produto*/
    overflow: hidden; /*Garante que o conteúdo do cartão de produto não ultrapasse os limites do cartão*/

}

.cartao-produto:hover {
    box-shadow:box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /*Adiciona uma sombra mais intensa ao redor do cartão de produto ao passar o mouse sobre ele*/
    transform: translateY(-16px); /*Move o cartão de produto para cima em 5px ao passar o mouse sobre ele*/
    

}

.imagem-produto {
    width: 100%; /*Define a largura da imagem do produto como 100% do elemento pai*/
   height: 180px; /*Define a altura da imagem do produto como 180px*/
    object-fit: cover; /*Garante que a imagem do produto preencha o contêiner sem distorção*/

}

.info-produto{
    padding: 16px; /*Adiciona um preenchimento de 16px ao redor das informações do produto*/


}

.nome-produto {
    font: size 16px; /*Define o tamanho da fonte do nome do produto como 16px*/
    font-weight: bold; /*Define o peso da fonte do nome do produto como negrito*/   
    margin-bottom: 6px; /*Adiciona uma margem inferior de 6px ao nome do produto*/

}

.descricao-produto {
    font-size: 13px; /*Define o tamanho da fonte da descrição do produto como 14px*/
    margin-bottom: 12px; /*Adiciona uma margem inferior de 12px à descrição do produto*/
}

.preco-produto {
    font-size: 20px; /*Define o tamanho da fonte do preço do produto como 18px*/
    color: var(--primary-color); /*Define a cor do texto do preço do produto usando a variável primary-color*/
    font-weight: bold; /*Define o peso da fonte do preço do produto como negrito*/
    font-weight: bold;

}

.botao-produto {
    width: 100%; /*Define a largura do botão do produto como 100% do elemento pai*/
    padding: 12px; /*Adiciona um preenchimento de 12px ao redor do botão do produto*/
    border: none; /*Remove a borda do botão do produto*/
    border-radius: 4px; /*Adiciona um raio de borda de 8px para arredondar os cantos do botão do produto*/
    background-color: var(--accent-color); /*Define a cor de fundo do botão do produto usando a variável primary-color*/
    color: var(--white-color); /*Define a cor do texto do botão do produto usando a variável white-color*/
    font-size: 16px; /*Define o tamanho da fonte do botão do produto como 16px*/
    cursor: pointer; /*Define o cursor como pointer ao passar o mouse sobre o botão do produto*/
    border: none ;
    transition: 0.3s; /*Adiciona uma transição suave de 0.3 segundos para as propriedades do botão do produto*/

}

.botao-produto:hover {
    background-color: #448dbe; /*Altera a cor de fundo do botão do produto ao passar o mouse sobre ele*/
}